@{
    Layout = null;
}

<div class="modal-header">
    <h3 class="modal-title">Edit Vacation Request</h3>
</div>
<div class="modal-body">
    <div ng-form name="vm.vacationRequestForm">
        <label>Start Date</label>
        <p class="input-group">
            <input type="text" class="form-control" name="startDate" datepicker-popup="{{vm.format}}" ng-model="vm.startDate" is-open="vm.startDateOpened" ng-required="true" close-text="Close" min-date="vm.today" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="vm.openStartDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>
        <label>End Date</label>
        <p class="input-group">
            <input type="text" class="form-control" name="endDate" datepicker-popup="{{vm.format}}" ng-model="vm.endDate" is-open="vm.endDateOpened" close-text="Close" min-date="vm.minDate" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="vm.openEndDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="vm.ok()">OK</button>
    <button class="btn btn-warning" ng-click="vm.cancel()">Cancel</button>
</div>